* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}

button {
  padding: 0 20px;
  line-height: 2.5em;
  color: currentColor;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.bg-azure {
  color: currentColor;
  background-color: #D5E7E8;
  padding: 8px;
}